
<!-- I need to figure out how to make this only run 10 times -->
<% Post.all.reverse_each do |i| %>
	<h3><%= i.title %></h3>
	<h4><%= i.created_at %></h4>
	<a href="user_view/<%= i.user_id %>"><%= User.find(i.user_id).username %></a>
	<p><%= i.body %></p>
<% end %>