<div class="row"></div>

<!-- I need to figure out how to make this only run 10 times -->
<div class="ui sixteen wide column">
	<div class="ui four column padded doubling grid">
		<% Post.all.reverse_each do |i| %>
			<div class="<%= COLORS[(i.id % 13)] %> column">
				<h3><%= i.title %></h3>
				<h4><%= i.created_at %></h4>
				<a href="user_view/<%= i.user_id %>"><%= User.find(i.user_id).username %></a>
				<p><%= i.body %></p>
			</div>
		<% end %>
	</div>
</div>