<% if User.find(session[:user_id]).profile %>
	<%= User.find(session[:user_id]).profile.body %>
<% end %>

<fieldset>
  	<legend>Update Account</legend>
	<form method="POST" action="/change_password">
		<label for="password">Change Password</label>
		<input type="text" name="password" id="password">
		<input type="submit">
	</form>
	<form method="POST" action="/change_email">
		<label for="email">Change Email Address</label>
		<input type="text" name="email" id="email">
		<input type="submit">
	</form>
	<form method="POST" action="/delete_account">
		<input type="hidden" name="account_id" value="<%= current_user.id %>">
		<button>Delete Account</button>
	</form>
</fieldset>
	
<form method="POST" action="/profile">
	<fieldset>
	  	<legend>Update Profile</legend>
		<label for="body">New Profile</label>
		<textarea name="body"></textarea><br/>
		<input type="submit">
	</fieldset>
</form>

<form method="POST" action="/blog">
	<fieldset>
	  	<legend>New Post</legend>
	  	<label for="title">Title:</label>
	  	<input type="text" name="title" id="title"><br/><br/>
		<label for="body">Post:</label>
		<textarea name="body" id="body"></textarea><br/>
		<input type="submit">
	</fieldset>
</form>
<br/><br/>

<% current_user.posts.each do |i| %>
		<form method="POST" action="/update_post">
			<input type="text" name="title" value="<%= i.title %>">,
			<%= i.created_at %>
			<textarea name="body" style="width: 90%"><%= i.body %></textarea>
			<input name="post_id" value="<%= i.id %>" type="hidden">
			<button>Update Post</button>
		</form>

		<form method="POST" action="/delete_post">
			<input name="post_id" value="<%= i.id %>" type="hidden">
			<button>Delete Post</button>
		</form>
<% end %>